$color-black: #000000;
$color-white: #ffffff;

//paper
$color-lightgrey:#C9C9CA;
$color-grey:#707070;
$color-darkgrey:#031629;
$color-light:#f5f5f5;

//main
$color-mdarkmain:#032B52;
$color-darkmain:#1697B5;
$color-main: #343a40;
$color-lightmain: #00C0EF;
$color-mlightmain:#25BDBD;

//other
$color-blue:#EAF7FF;
$color-lightgreen:#3EEDD2;


$font-title:'Roboto', sans-serif;
$font-content: 'Roboto', 'Noto Sans TC', sans-serif;
$font-special: 'Noto Sans TC', sans-serif;
$font-small: "微軟正黑體", "Roboto", "Noto Sans TC", sans-serif;